@use "@core/scss/base/mixins";

%nav-link-active {
  background: rgba(var(--v-theme-primary), 0.16) !important;
  color: rgb(var(--v-theme-primary)) !important;
  border-radius: 0.5rem !important;
  font-weight: 500;

  i { color: rgb(var(--v-theme-primary)) !important; }

  // 不需要阴影
}

// ℹ️ This is common style that needs to be applied to both navs
%nav {
  .nav-item-title {
    line-height: 1.375rem;
  }
}
